<%= form_with model: task do |f| %>
  <div class="my-3">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="my-3">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>

  <% unless task.new_record? %>
    <div class="my-3">
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </div>
  <% end %>

  <div class="my-3">
    <%= f.submit %>
  </div>
<% end %>
